<html>

<head>
  <title>Skyhawk Vision</title>
  <script defer src="{{ url_for('static', path='/js/alpine.min.js') }}"></script>
</head>

<body>
  <h1>Skyhawk Vision</h1>
  <div x-data>
    <button x-on:click="start_camera()">Start Camera</button>
    <br>
    <br>
    <button x-on:click="start_camera()">Stop Camera</button>
  </div>
  <br>
  <div x-data>
    <div x-data="{ open: false }">
      <button @click="open = ! open">Expand</button>
   
      <div x-show="open">
             <div id="img-src">

             </div>
      </div>
  </div>
  </div>
  <!-- <img src="{{ url_for('video_feed') }}"> -->
  <!-- jinja2のテンプレートの書き方です。/video_feedを呼び出しています。 -->
  <script>
    async function start_camera() {
      const url = `{{url_for('start_camera')}}`
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        let img_src = document.getElementById('img-src');
        img_src.innerHTML = `<img src="{{url_for('video_feed')}}">`

        console.log(json);
      } catch (error) {
        console.error(error.message);
      }
    }

    async function stop_camera() {
      const url = `{{url_for('start_camera')}}`
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        console.log(json);
      } catch (error) {
        console.error(error.message);
      }
    }

  </script>
</body>

</html>