<html>

<head>
  <title>Skyhawk Vision</title>
  <script defer src="{{ url_for('static', path='/js/alpine.min.js') }}"></script>
  <link href="{{url_for('static', path='/css/main.css')}}" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Skyhawk Vision</h1>
  <div x-data>
    <button x-on:click="start_camera()">Start Camera</button>
    <br>
    <br>
    <button x-on:click="stop_camera()">Stop Camera</button>
  </div>
  <br>

  <div x-data>
    <div  id="img-src">
      <img width="600px" src="{{url_for('static', path='image/image.png')}}">
    </div>
  </div>

  <div class="data-box">
    <div>
      <h3>People: <pr id="people"></pr></h3>
    </div>
  </div>

  <script>
    let evtSource = new EventSource('sse-testing')
    evtSource.onmessage = (event) => {
      let people = document.getElementById('people')
      people.innerText = `${event.data}`
    }

    async function start_camera() {
      const url = `{{url_for('start_camera')}}`
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        let img_src = document.getElementById('img-src');
        img_src.innerHTML = `<img class='video-feed' width='600px' src="{{url_for('video_feed')}}">`
        

        console.log(json);
      } catch (error) {
        console.error(error.message);
      }
    }

    async function stop_camera() {
      const url = `{{url_for('stop_camera')}}`
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        let img_src = document.getElementById('img-src');
        img_src.innerHTML = `<img width="600px" src="{{url_for('static', path='image/image.png')}}">`
        console.log(json);
      } catch (error) {
        console.error(error.message);
      }
    }


  </script>
</body>

</html>